Source: giflib
Section: libs
Priority: extra
Maintainer: Pawel Wiecek <coven@debian.org>
Build-Depends: debhelper, libx11-dev
Standards-Version: 3.6.2

Package: giflib3g
Section: libs
Architecture: any
Conflicts: libgif3g, libgif2, libungif3g
Replaces: libungif3g
Depends: ${shlibs:Depends}
Description: shared library for GIF images (runtime lib)
 This is a shared library for working with GIF images.

Package: giflib3g-dev
Section: libdevel
Architecture: any
Conflicts: giflib-dev, libungif3g-dev, libgif-dev, libgif3g-dev, libgif2-dev, heimdal-dev
Replaces: libungif3g-dev, giflib3g
Provides: giflib-dev
Depends: libc6-dev, giflib3g (= ${Source-Version})
Description: shared library for GIF images (development files)
 This package contains header files needed to compile programs that use
 giflib.                

Package: giflib-bin
Section: utils
Architecture: any
Conflicts: libgif3-bin, giflib-bin, libungif-bin
Replaces: libungif-bin, giflib3g
Provides: libungif-bin
Depends: giflib3g (= ${Source-Version}), ${shlibs:Depends}
Description: programs to convert GIF images
 These are some programs that use giflib to convert images.
