Source: giflib-legacy-libgif4
Section: libs
Priority: optional
Maintainer: Thibaut Gridel <tgridel@free.fr>
Build-Depends: debhelper (>= 9), autotools-dev, dh-autoreconf
Standards-Version: 3.9.4
Homepage: http://giflib.sourceforge.net/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/giflib.git;a=shortlog;h=refs/heads/debian
Vcs-Git: git://anonscm.debian.org/collab-maint/giflib.git -b debian

Package: libgif4
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: library for GIF images (library)
 GIFLIB is a package of portable tools and library routines for working with GIF
 images.
 .
 This package contains the library.
